<%- include('../includes/head.ejs') -%>

<body>
<h2>Login Form</h2>

<form action="/auth/login" method="POST">

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
      
    <input type="submit" value="Login" />

    <!-- <button type="submit">Login</button> -->
  </div>
</form>
<%- include('../includes/foot.ejs') -%>
