<%- include('../includes/head.ejs') -%>

<body ng-controller = "addQueController">
<h2>Add Question</h2>

<form>

  <div class="container">
    <label for="question"><b>Question</b></label>
    <input type="text" placeholder="Enter Question" ng-model="question.question" name="question" required>  
    
    <button ng-click="addQuestion()">Add Answers</button>

  </div>
  <div ng-if="show">
      <input type="text" ng-model="answer.answer" required>  
      <button ng-click="addAnswer()">Add More Answers</button>

  </div>
</form>



<%- include('../includes/foot.ejs') -%>
