<%- include('../includes/head.ejs') -%>


<h2>Add Question</h2>

<form action="/api/v1/question" method="POST">

  <div class="container">
    <label for="question"><b>Question</b></label>
    <input type="text" placeholder="Enter Question" name="question" required>

    
        
    <button type="submit">Add Question</button>
  </div>
</form>

<%- include('../includes/foot.ejs') -%>
