<%- include('../includes/head.ejs') -%>

<body ng-controller="dashboardController">
<h2>Polling List</h2>
<div ng-repeat="question in questions">
    <p>{{question.question}}</p>
    <div ng-repeat="answer in answers">
        <div ng-if="answer.queId==question.id">
            <p>{{answer.answer}}</p>
        </div>

    </div>

</div>

<button>Add Question</button> 

<%- include('../includes/foot.ejs') -%>