<%- include('../includes/head.ejs') -%>

<body ng-controller="dashboardController">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <h2>Polling List</h2>
            </div>
            <div class="col-md-4">
                <button ng-click="addQue()" >Add Question</button> 
            </div>     
                
        </div>
        
        <div ng-repeat="question in questions">
            <hr>
            <p><strong>Q.NO:{{$index + 1}} {{question.question}}</strong></p>
            <div ng-repeat="answer in answers">
                <div ng-if="answer.queId==question.id">
                    <p><strong>Ans: </strong>{{answer.answer}} <i class="fa fa-thumbs-up" aria-hidden="true" ng-click="incVote(answer)">{{answer.vote}}</i> </p>
                </div>

            </div>

        </div>

    </div>

<%- include('../includes/foot.ejs') -%>